<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decrypt</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      @media (max-width: 800px) {
        body {
          padding-bottom: 50px;
        }
        .card {
          width: 75%;
        }
      }
      @media (min-width: 801px) {
        body {
          padding-bottom: 4%;
        }
        .card {
          width: 40%;
        }
      }
      .card {
        margin-top: 30px;
      }
      .general {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 200px; /* Location of the box */
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
      }

      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
      }

      /* Add Animation */
      @-webkit-keyframes animatetop {
        from {
          top: -300px;
          opacity: 0;
        }
        to {
          top: 0;
          opacity: 1;
        }
      }

      @keyframes animatetop {
        from {
          top: -300px;
          opacity: 0;
        }
        to {
          top: 0;
          opacity: 1;
        }
      }

      /* The Close Button */
      .close {
        color: white;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      .modal-header {
        padding: 2px 16px;
        background-color: #d60606;
        color: white;
        height: 40px;
      }

      .modal-body {
        padding: 2px 16px;
        height: 100px;
        text-align: center;
        padding-top: 30px;
      }

      .modal-footer {
        height: 40px;
        padding: 2px 16px;
        background-color: #d60606;
        color: white;
      }
    </style>
  </head>

  <body>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
        </div>
        <div class="modal-body">
          <h3>You forgot your e-mail!</h3>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>

    <div class="general">
      <h1 class="mb-5 mt-3">Decrypt the Ciphers!</h1>
      <div class="ciphers mb-5">
        <ul>
          <li>
            <p>
              <b
                ><a
                  href="https://www.geeksforgeeks.org/caesar-cipher-in-cryptography/"
                  >Caesar Cipher:</a
                ></b
              >
              the encrypted message is
              <i>mfeosm</i>
            </p>
          </li>
          <li>
            <p>
              <b
                ><a
                  href="https://www.geeksforgeeks.org/rsa-algorithm-cryptography/"
                  >RSA Cipher:</a
                ></b
              >
              the encrypted message is <i>15792</i>, public keys being (15,12)
            </p>
          </li>
        </ul>
      </div>

      <div class="box">
        <form name="studentForm">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input
              id="studentName"
              type="text"
              class="form-control"
              placeholder="Email"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <small class="form-text text-muted"
            >I need it to contact you about your prize!</small
          >
        </form>
      </div>

      <div class="card text-center mx-auto box">
        <div class="card-body d-flex flex-column">
          <h4 class="card-title mb-3">Caesar cipher</h4>
          <div class="mb-3">
            <input
              id="caesarTxt"
              type="text"
              name="txt"
              placeholder="Answer"
              style="width: 70%"
            />
          </div>
          <div>
            <button id="caesarBtn" class="btn btn-success">Check Answer</button>
          </div>
        </div>
        <div id="caesarAns" class="card-footer" style="height: 40px"></div>
      </div>

      <div class="card text-center mx-auto box">
        <div class="card-body d-flex flex-column">
          <h4 class="card-title mb-3">RSA cipher</h4>
          <div class="mb-3">
            <input
              id="rsaTxt"
              type="text"
              name="txt"
              placeholder="Answer"
              style="width: 70%"
            />
          </div>
          <div>
            <button id="rsaBtn" class="btn btn-success">Check Answer</button>
          </div>
        </div>
        <div id="rsaAns" class="card-footer" style="height: 40px"></div>
      </div>
    </div>

    <script>
      studentName = document.getElementById("studentName");
      rsaAns = document.getElementById("rsaAns");
      rsaText = document.getElementById("rsaTxt");
      caesarAns = document.getElementById("caesarAns");
      caesarText = document.getElementById("caesarTxt");

      document
        .getElementById("rsaBtn")
        .addEventListener("click", () => checkAns("Rsa"));
      document
        .getElementById("caesarBtn")
        .addEventListener("click", () => checkAns("Caesar"));

      openModal = function () {
        // Get the modal
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        modal.style.display = "block";

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
          modal.style.display = "none";
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        };
      };

      checkAns = async function (cipherName) {
        if (studentName.value != "") {
          if (cipherName == "Rsa") {
            answer = rsaText.value;
          } else {
            answer = caesarText.value;
          }
          let response = await fetch("/", {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json", // Add this line
            },

            body: JSON.stringify({
              cipherName,
              studentName: studentName.value,
              answer,
            }),
          });
          answer = await response.json();
          answer = answer.result;
          setAns(cipherName, answer);
        } else {
          openModal();
        }
      };

      setAns = function (cipher, ans) {
        if (cipher == "Rsa") {
          if (ans) {
            rsaAns.style.color = "rgba(0,0,0,0)";
            setTimeout(() => (rsaAns.style.color = "green"), 150);
            rsaAns.textContent = "correct! - I will contact you soon";
          } else {
            rsaAns.style.color = "rgba(0,0,0,0)";
            setTimeout(() => (rsaAns.style.color = "red"), 150);
            rsaAns.textContent = "wrong :(";
          }
        } else if (cipher == "Caesar") {
          if (ans) {
            caesarAns.style.color = "rgba(0,0,0,0)";
            setTimeout(() => (caesarAns.style.color = "green"), 150);
            caesarAns.textContent = "correct! - I will contact you soon";
          } else {
            caesarAns.style.color = "rgba(0,0,0,0)";
            setTimeout(() => (caesarAns.style.color = "red"), 150);
            caesarAns.textContent = "wrong :(";
          }
        }
      };
    </script>
  </body>
</html>
